@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

body{
  color: #8d8d8d
}

a{
  text-decoration: none;
  color: #8d8d8d
}

li{
  list-style: none;
}



/* Utilities */
.btn{
  background: #404040;
  padding: 15px;
  color: #fff;
  border-radius: 5px;
}
.btn:hover{
  background: #ff6f00;
}

.menu{
  padding: 5px;
  text-transform: uppercase;
}

.menu:hover{
  color: #ff6f00;
}

/* Wrapper */
#wrapper{
  display:flex;
}

/* Side Menu */
#side-menu{
  min-height: 100vh;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side-menu .logo{
  text-align: center;
  height: 70px;
  width: 90%;
  font-size: 1.5rem;
  padding: 20px 10px;
  margin: 0 10px;
  border-bottom: 1px solid #bfbdbb;
}

#side-menu ul{
  width: 80%;
}
#side-menu li{
  text-align: left;
  margin-top: 10px;
  display: block;
}


#side-menu .menu.active{
  display: block;
  color: #ff6f00;
}

/* Dashboard */
#dashboard{
  background: #f0f0f0;
  min-width: 75vw;
  min-height: 100vh;
  
}

#dashboard .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid #bfbdbb;
  text-transform: uppercase;
}

#dashboard .footer{
  display: flex;
  justify-content: flex-end;
}

#dashboard .footer p{
  padding: 5px;
}

#dashboard .container{
  display: flex; 
  flex-wrap: wrap;
}

.dash-rectangle{
  margin: 10px;
  /* display: flex; */
  /* align-items: center; */
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  height: 4rem;
}