@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

body{
  color: #8d8d8d;
}

a{
  text-decoration: none;
  color: #8d8d8d
}

li{
  list-style: none;
}

/* Utilities */
.btn{
  background: #404040;
  padding: 15px;
  color: #fff;
  text-transform: capitalize;
}

.btn:hover{
  background: #ff6f00;
}

.menu{
  padding: 5px;
  text-transform: uppercase;
  display: block;
}

.menu:hover{
  color: #ff6f00;
}

.menu.active{
  color: #ff6f00;
}

/* Wrapper */
#wrapper{
  display:flex;
}

/* Side Menu */
#side-menu{
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side-menu .logo{
  text-align: center;
  height: 70px;
  width: 90%;
  font-size: 1.5rem;
  padding: 20px 10px;
  margin: 0 10px;
  border-bottom: 1px solid #bfbdbb;
}

#side-menu ul{
  width: 80%;
}

#side-menu li{
  text-align: left;
  margin-top: 10px;
}


/* Dashboard */
#dashboard{
  width: 75vw;
  height: 100vh;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#dashboard .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid #bfbdbb;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#dashboard .footer{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#dashboard .footer p{
  padding: 5px;
}

#dashboard .container{
  display: flex; 
  flex-wrap: wrap;
  align-content: flex-start;
  height: 90%;
}

.dash-rectangle{
  margin: 10px;
  background: #fff;
  border: 1px #bfbdbb solid;
  padding: 10px;
}

.dash-rectangle a{
  text-align: center;
}

table{
  width: 100%;
  background: #fff;
  color: black;
  /* border-spacing: 0; */
}

th, td {
  padding: 5px;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse ;  
}

tr:nth-child(even){
  background: #bfbdbb;
}